.about-container {
  width: 100%;
	-webkit-animation: fadein 1.5s;
	padding-top: 5%;
	background-color: white;
  display: grid;
	grid-template-rows: ;
	font-family: Futura;
	border-top:black 1px solid;

}

.name {
	font-family: Futura;
	font-size: 70px;
}

.welcome {
font-size: 330px;
margin: 0px 0px 150px 40px;
padding-bottom: 50px;
}

.my-website {
	position: absolute;
	top: 550px;
	left: 100px;
}

.underline {
	text-decoration: underline;
}

.about-bg {
	background-color: green;

}

.about-text-bg {
	width: 50%;
}

.about1 {

}

.selfie {
	width: 200px;
	border-radius: 10px;
	align-items: center;
	
}
