
.links {
	margin: 20px;
	text-align: center;
	font-family: PolySans;
	display: flex;
	justify-content: center;
	border: 1px black solid;
	box-shadow: 5px 5px 0 0 #343434;
	border-radius: 6px;
	-webkit-animation: fadein 1.5s;
	background-color: rgba(224, 176, 255);
	color: black;
	width: 60%;
	padding: 30px 0px 30px 0px;

}

.links:hover {
	color: rgba(224, 176, 255);
	font-family: PolySans;
	background-color: black;
	border: 1px black solid;
  box-shadow: 5px 5px 0 0 rgba(167, 252, 0);
	border-radius: 6px;
	-webkit-animation: fadein 1.5s;
	background-color: black;
}

.link-container {
	margin: auto;
  width: 90%;
	padding-left: 25%;
	padding-top: 25%;
}


.gitlink {
	text-decoration: none;
	color: inherit;
}
