.contact-me {
  font-family: Futura;
  font-size: 120px;
  margin: 60px 0px 10px 10px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.gitlink {
  text-decoration: none;
  color: inherit;
  cursor: crosshair;
}
