.photo {
	width: 260px;
	background-image: cover;
	background-size: contain;
	-webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
		opacity: 0.8;
		margin: 0px 0px 40px 60px;
}


.photo:hover {
	opacity: 1;
	cursor: crosshair;
	-webkit-transform: scale(1.2) rotate(0.01deg);
	transform: scale(1.2) rotate(0.01deg);
}

.photo-div {
	margin: 0;
	padding: 0;
}

.photo-quote {
	background-color: black;
	color: #4acfee;
	font-size: 30px;
	place-items: center;
	margin: 30px;
	margin-bottom: 100px;
}

.photo-quotes {
	margin: 0px 10px 30px 30px;
}


.container {
	font-family: Futura;
	animation: fadein 1s;
}

.photo-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	background-color: ;
	margin: 0px 60px 0px 60px;
  padding-top: 40px;
	padding-right: 40px;
}

.large-photo-container {
	display: grid;
	grid-template-rows: 1fr;
	place-items: center;
	margin-right:
}

.large-photo {
	width: 20%;
	height: auto;
	background-color: black;
	padding: 180px;
	margin-bottom: 30px;
	background-image: url('/public/images/dance.png');
	background-image: cover;
	background-size: contain;
	background-repeat: no-repeat;
}


.quote-container {
	display: grid;
	grid-template-rows: 1fr;
}

.quote1 {
	font-size: 60px;
	text-align: left;
}

.travel {
	margin:20px 0px 0px 50px;
}


.quote2 {
	font-size: 20px;
	background-color: #4acfee;
	margin: 30px 0px 30px 700px;
	width: 600px;

}

.quote3 {
	font-size: 15px;
	text-decoration: underline;
	padding: 60px;
	margin-left: 50px;
	position: absolute;
	top: 280px;
	left: 50px;
}

.quote4 {
	font-size: 50px;
	background-color: #4acfee;
	width: 1170px;
	margin: 100px 0px 100px 70px;
}

.quote5 {
	text-align: right;
	margin-right: 70px;
	padding-bottom: 50px;
}
