.photo {
	width: 200px;
	background-image: cover;
	background-size: contain;
	-webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
		opacity: 0.8;
		margin: 0px 2px 20px 60px;
}


.photo:hover {
	opacity: 1;
	cursor: crosshair;
	-webkit-transform: scale(1.2) rotate(0.01deg);
	transform: scale(1.2) rotate(0.01deg);
}

.photo-div {
	margin: 0;
	padding: 0;
}

.photo-quote1 {
	background-color: deeppink;
	color: white;
	font-size: 80px;
	text-align: right;
	margin: 10px 50px 50px 70px;
	font-family: Futura;
}

.photo-quote2 {
	color: #4acfee;
	font-size: 80px;
	place-items: center;
	margin: 30px;
	margin-bottom: 00px;
}

.photo-quote-container {
	text-align: right;
	margin: 0px 40px 100px 0px;
}



.photo-quote-container2 {
	margin: 0px 10px 100px 50px;
	font-family: Futura;
	animation: fadein 1s;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.photo-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
  padding-top: 40px;
	padding-right: 40px;
}

.change-photos {
	font-family: Futura;
	font-size: 20px;
	color:black;
	cursor: crosshair;
	padding: 10px 50px;
	text-align: center;
	background-color: #4acfee;
}

.change-photos:hover {
	color:deeppink;
}

.photo-nav {
	text-align: center;
	margin-bottom: 40px;
}

.main-photo {
	width: 100%;
	background-size: contain;
	background-image: cover;
	margin-top: 17px;
	animation: fadein 1.5s;
}

.large-photo {
	width: 20%;
	height: auto;
	background-color: black;
	padding: 180px;
	margin-bottom: 30px;
	background-image: cover;
	background-size: contain;
	background-repeat: no-repeat;
}

.large-photo-container {
	padding: 20px;
}


.quote-container {
	display: grid;
	grid-template-rows: 1fr;
	font-family: Futura;
	animation: fadein 1s;
}

.quote1 {
	font-size: 60px;
	text-align: left;
}

.travel {
	margin:20px 0px 0px 50px;
}


.quote2 {
	font-size: 20px;
	background-color: deeppink;
	margin: 30px 0px 30px 700px;
	width: 600px;
	padding-bottom: 30px;
	color: white;

}

.quote3 {
	font-size: 20px;
	text-decoration: underline;
	padding: 10px;
	margin-left: 50px;
	position: absolute;
	top: 350px;
	left: 120px;
	font-style: italic;

}

.quote4 {
	font-size: 50px;
	color: #4acfee;
	width: 1170px;
	margin: 100px 0px 100px 70px;
}

.quote5 {
	text-align: right;
	margin-right: 70px;
	padding-bottom: 50px;
}
