.img-container {
	width: 50%;
	margin-left: 25%;
	margin-top:20px;
	padding: 50px;
	color: black;
	-webkit-animation: fadein 1.5s;
}

.bg-fill {
	background-color: #fffcda;
}

.text-container {
	-webkit-animation: fadein 1.5s;
	color: black;
	width: 57%;
	margin-left: 25%;
	margin-top:20px;
	text-align: center;
	padding: 20px;
}

.text {
	font-family: Futura;;
	font-size: 15px;
	color: black;
}
