.img-container {
	width: 50%;
	margin-top:20px;
	padding: 20px;
	color: black;
	-webkit-animation: fadein 1.5s;
}

.bg-fill {
	background-color: white;
	border-top: black 1px solid;
}

.text-container {
	color: black;
}

.content-container {
	display: flex;
	justify-content: center;
	border-top:1px white solid;

}

.header {
	font-size: 80px;
	font-family: Futura;
	padding-left: 20px;
	color: black;
}


.text {
	font-family: Futura;;
	font-size: 20px;
	color: white;

}

.Mcards-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: black;
	padding: 40px;
}
