.img-container {
	width: 60%;
	margin-top:20px;
	padding: 20px;
	color: black;
	-webkit-animation: fadein 1.5s;
	-webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
}

.mk:hover {
	-webkit-transform: scale(1.5) rotate(0.01deg);
	transform: scale(1.5) rotate(0.01deg);
}

.bg-fill {
	background-color: #fffcda;
	border-top: black 1px solid;
}

.text-container {
	color: black;
}

.content-container {
	display: flex;
	justify-content: center;
	border-top:1px white solid;

}

.header {
	font-size: 80px;
	font-family: Futura;
	color: rgba(255, 0, 0, 0.8);
	padding: 1px;
	letter-spacing: 50px;
	text-align: center;
}


.text {
	font-family: Futura;;
	font-size: 20px;
	color: white;
	padding:20px 15px;
}

.title {
	color: rgba(255, 0, 0, 0.8);
	margin-right: 40px;
	padding-top: 25px;
}

.text-fit {
	padding: 100px 15px 0px 15px;
}

.Mcards-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: black;
	padding: 40px;
}

.airbnb-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color:
}

.airbnb-border {
	border-top: 1px solid rgba(255, 0, 0, 0.7);
}

.google-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgba(255, 0, 0, 0.7);
}

.google-img {
	width: 100%;
	padding: 10px 0px 50px 20px;
}
