.top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Futura;
  width: 100vw;
  padding-bottom: 50px;
  background-color: rgba(247, 243, 234, 0.061);
}

.home-button {
  position: absolute;
  right: 10px;
  top: 4.6%;
  font-size: 15px;
  cursor: pointer;
  margin: 21px 40px 0px 0px;
  animation: fade-in-down 3s;
  color: white;
}
