.top-bar {
	background-color: #420b13;
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: PolySans;
	width: 100%;
	border-bottom: 8px solid;
	border-color: #e5b0a3;
}

.top-name {
	text-align: right;
	padding: 10px;
	letter-spacing: 30px;
	color: black;
}
