@font-face {
  font-family: "druk";
  src: url("/public/fonts/druk-wide-bold.woff2") format("woff2"),
    url("/public/fonts/druk-wide-bold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
	/* background-color: #eed6eb; */
}

.main-display {
  margin: 20px;
}

.main-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-page {
	font-family: druk;
	font-size: 100px;

}

.color {
  color: rgba(167, 252, 0);
  font-family: druk;
  -webkit-animation: fadein 1.5s;
  cursor: pointer;
	border: 1px black solid;
	box-shadow: 5px 5px 0 0 #343434;
	border-radius: 6px;
	text-align: center;
	background-color: rgba(224, 176, 255);
}

.color:hover {
  color: rgba(224, 176, 255);
  font-family: druk;
	border: 1px black solid;
	box-shadow: 5px 5px 0 0 rgba(167, 252, 0);
	border-radius: 6px;
	text-align: center;
	background-color: black;

}

.name-text {
  margin: 20px 60px 0px 0px;
  text-align: center;
}

.name-box {
  margin: 50px 70px 30px 0px;
  padding-bottom: 20px;

}

.description {
  font-family: druk;
  color: rgba(167, 252, 0);
  text-align: center;
  margin: 0px 70px 30px 0px;
  cursor: pointer;
	border: 1px black solid;
	box-shadow: 5px 5px 0 0 #343434;
	border-radius: 6px;
	-webkit-animation: fadein 1.5s;
	background-color: rgba(224, 176, 255);

}

.description:hover {
  color: rgba(224, 176, 255);
  font-family: druk;
  text-align: center;
  margin-right: 70px;
  background-color: black;
  padding-bottom: 20px;
	border: 1px black solid;
	box-shadow: 5px 5px 0 0 rgba(167, 252, 0);
	border-radius: 6px;

}

/* .link1 {
  -webkit-animation: fadein 2s;
}

.link2 {
  -webkit-animation: fadein 2.5s;
}

.link3 {
  -webkit-animation: fadein 3s;
} */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
