@font-face {
	font-family: 'PolySans';
	src: url("/public/fonts/PolySansNeutralWide.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

}

.background {
	background-color: white;
}


.main-display {
	padding-top: 20px;
	height: 100vh;
	
}

.main-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-page {
	font-family: PolySans;
	font-size: 80px;
	text-align: left;
	 color: black;
   margin: 10px;
	padding-bottom: 50px;
	font-style: italic;
	letter-spacing: 12px;
	background-color: #ffffed;
	margin-bottom: 70px;
}

/* .glitch {
	text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
	-0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
	0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
} */

.glitch:hover {
	animation: glitch 1000ms infinite;

}

@keyframes glitch {
 0% {
	 text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
 	-0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
 	-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
 }
 14% {
	 text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
 	0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
 	-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
 }
 15% {
	 text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
 	0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
 	-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
 }
 49% {
	 text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
 	0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
 	-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
 }

 50% {
	 text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
 	0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
 	-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
 }

 99% {
	 text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
 	-0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
 	-0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
 }
 100% {
 	text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
  -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
  -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
 }

}

.main-page:hover {
	color: white;
	background-color: rgba(255, 16, 240, 0.2);
}


.button-container {
	position: fixed;
	right: 0;
	bottom: 30px;

}

.button {
	background-color: rgb(255, 227, 109);
}



.color {
  color: black;
  font-family: PolySans;
  -webkit-animation: fadein 1.5s;
  cursor: pointer;
	border: 1px black solid;
	box-shadow: 5px 5px 0 0 #343434;
	border-radius: 6px;
	text-align: center;
	background-color: #ffffed;

}

.color:hover {
  color: #5415fa;
  font-family: PolySans;
	border: 1px #5415fa solid;
	box-shadow: 5px 5px 0 0 #5415fa;
	border-radius: 6px;
	text-align: center;
	background-color: rgba(255, 16, 240, 0.2);

}

.name-text {
  margin: 20px 60px 0px 0px;
  text-align: center;
}

.name-box {
  margin: 50px 70px 30px 0px;
}

.description {
  font-family: PolySans;
  color: black;
  text-align: center;
  margin: 0px 70px 30px 0px;
  cursor: pointer;
	border: 1px black solid;
	box-shadow: 5px 5px 0 0 #343434;
	border-radius: 6px;
	-webkit-animation: fadein 1.5s;
	background-color: #ffffed;
	padding: 0px 30px 0px 30px;

}

.description:hover {
  color: #5415fa;
  font-family: PolySans;
  text-align: center;
  margin-right: 70px;
  background-color: white;
  border: 1px #5415fa solid;
	box-shadow: 5px 5px 0 0 #5415fa;
	border-radius: 6px;
}

.skate-photo {
 background-image: cover;
 width: 40%;
 padding-left: 150px;

}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
